venv/
*.pyc

9 RW Files/randomQuizGenerator/quizzes
9 RW Files/mcb/*.bak
9 RW Files/mcb/*.dat
9 RW Files/mcb/*.dir

10 Organizing Files/renameDates/euroFiles
10 Organizing Files/backupToZip/*.zip

13 Excel/readCensusExcel/census2010.py
13 Excel/updateProduce/updatedProduceSales.xlsx

14 Google Sheets/combinePdfs/allminutes.pdf

15 Word and PDF/__pycache__
15 Word and PDF/helloworld.docx
15 Word and PDF/demo.docx
15 Word and PDF/demo.pdf

16 CSV and JSON/removeCsvHeader/headerRemoved

17 Time/threadedDownloadXkcd/xkcd
17 Time/token-gmail.json